<h2> Dashboard </h2>

<%= link_to 'New Inquiry', new_student_path %>

<h3> Current Inquiries </h3>
<% @students.each do |student| %>
  <%= student.first_name %> <%= student.last_name %> - <%= student.inquiries.last.instrument %></br>
<% end %>
