$pending-link: #ffffff;
$pending-bar: #9fbfdf;

.student-info ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
}

.pending a {
  color: $pending-link;
}

.pending {
  background-color: $pending-bar;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  a {
    color: $pending-link;
  }
}

.lesson-info {
  margin-top: 0.5em;
  h2 {
    margin-bottom: 0;
  }
}

.no-bullets {
  list-style: none;
}
