.student-info ul {
  list-style: none;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0;
}

.pending a {
  color: #ffffff;
}

.pending {
  background-color: #9fbfdf;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.lesson-info {
  margin-top: 0.5em;
  h2 {
    margin-bottom: 0;
  }
}
