@import "application";

.flash.notice {
  padding: 1em;
  color: $pure-white;
  background-color: $flash-success;
}

.flash.error {
  padding: 1em;
  color: $pure-white;
  background-color: $flash-error;
}

.flash.alert {
  padding: 1em;
  color: $pure-white;
  background-color: $flash-alert;
}
