$lesson-green: #669999;
$teacher-unavailable: #999999;
$student-unavailable: #bfbfbf;

.schedule-block {
  padding:0px;
  height: 25px;
  border:1px dotted #aaaaaa;
}

.time-header {
  font-size: 0.7em;
  text-align: center;
  height: 25px;
  padding: 5px;
}

.day-header {
  font-weight: bold;
}

.lesson-block-30 {
  background-color: $lesson-green;
  font-size: 0.7em;
  height: 50px;
  position: absolute;
  width: 70px;
  z-index: 1;
  border-radius: 6px;
}

.lesson-block-45 {
  background-color: $lesson-green;
  font-size: 0.7em;
  height: 75px;
  position: absolute;
  width: 70px;
  z-index: 1;
  border-radius: 6px;
}

.lesson-block-60 {
  background-color: $lesson-green;
  font-size: 0.7em;
  height: 100px;
  position: absolute;
  width: 70px;
  z-index: 1;
  border-radius: 6px;
}

.move-cursor {
  cursor: ns-resize;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

.teacher-unavailable {
  background-color: $teacher-unavailable;
}

.student-unavailable {
  background-color: $student-unavailable;
}
