.schedule-block {
  padding:0px;
  height: 25px;
  border:1px dotted #aaaaaa;
}

.time-header {
  font-size: 0.7em;
  text-align: right;
  height: 25px;
  width: 70px;
  padding: 5px;
}

.day-header {
  font-weight: bold;
}

.lesson-block-30 {
  font-size: 0.7em;
  background-color: #669999;
  height: 50px;
  width: 70px;
  position: absolute;
  z-index: 1;
}
.lesson-block-45 {
  font-size: 0.7em;
  background-color: #669999;
  height: 75px;
  width: 70px;
  position: absolute;
  z-index: 1;
}
.lesson-block-60 {
  font-size: 0.7em;
  background-color: #669999;
  height: 100px;
  width: 70px;
  position: absolute;
  z-index: 1;
}

.move-cursor {
  cursor: ns-resize;;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}
