<h4> Current Student Availability </h4>
<ul>
  <% @student.availabilities.each do |a| %>
    <% unless a.checked == "0" %>
    <li>
      <%= a.day %>:
      <%= a.start_time.strftime("%l:%M %p") %>
      -
      <%= a.end_time.strftime("%l:%M %p") %>
    </li>
    <% end %>
  <% end %>
</ul>
