<li>
  <%= link_to "Settings", "#" %>
  <ul class="menu vertical">
    <li>
      <%= link_to "Pricing Tiers", prices_path %>
    </li>

    <li>
      <%= link_to "Instruments", instruments_path %>
    </li>

    <li>
      <%= link_to "Absence Reasons", reasons_path %>
    </li>
  </ul>
</li>
