<% if current_account %>
  <% unless current_account.type == "Family" %>
    <li>
      <%= form_tag search_admin_index_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search Students", id: "search_field" %>
      <% end %>
    </li>
    <li>
      <%= link_to "<i class='fa fa-cog fa-lg' aria-hidden='true'></i>".html_safe, settings_admin_index_path, id: "settings-cog" %>
    </li>
  <% end %>
  <li>
    <%= link_to "<i class='fa fa-user fa-lg' aria-hidden='true'></i> #{primary_contact.first_name}".html_safe, edit_account_registration_path %>
  </li>
<% end %>
